{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}
{% set cameraListItems = pagination.items %}

{# If this is a tag, grab those items instead as one large collection #}
{% if tag %}
  {% set cameraListItems = collections[tag] %}
  {% set pageHeaderTitle = 'Cameras filed under “' + tag + '”' %}
{% endif %}

{% block content %}
  <article>
    {% include "partials/page-header.html" %}

    {# If we leave pagination in for tags, the next and prev links will
      link to tags and be rather confusing, so don't render in that situation #}
    {% if not tag %}
      {% include "partials/pagination.html" %}
    {% endif %}
  </article>
{% endblock %}
