{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
  <footer class="[ pagination ] [ dot-shadow panel ] [ font-sans weight-bold ]">
    <div class="wrapper">
      <nav class="[ pagination__inner ] [ nav ]" aria-labelledby="pagination-title">
        <h2 class="visually-hidden" id="pagination-title">Pagination</h2>

        <ul class="pagination__list" role="list">
          {% if pagination.href.previous %}
          <li data-direction="backwards">
            <a href="{{ pagination.href.previous }}index.html">
              <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
            </a>
          </li>
          {% endif %}

          <li data-direction="center">
            <span class="visually-hidden">Pages:</span>
            <ol class="pagination__pages" role="list">
              {%- for pageEntry in pagination.pages %}
              <li><a {% if page.url !== pagination.hrefs[ loop.index0 ]%}href="{{ pagination.hrefs[ loop.index0 ] }}"{% endif %}{% if page.url == pagination.hrefs[ loop.index0 ]%} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
              {%- endfor %}
            </ol>
          </li>

          {% if pagination.href.next %}
          <li data-direction="forwards">
            <a href="{{ pagination.href.next }}index.html">
              <span>{{ paginationNextText if paginationNextText else 'Next' }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </footer>
{% endif %}
